@use '@material/button/mdc-button';
@use '@material/button';

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
h1 {
    background-color: #304ffe;
    padding:1%;
    color: white;
    box-shadow: 5px 0 #eeeeee;
}
.mdc-data-table {
    min-height: 95vh;
    position: absolute;
    min-width: 70vw;
}
.mdc-data-table__header-cell {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
#main-container {
    margin-top: 10px;
    margin-left: 270px;
}
#delete {
    bottom: 1220px;
}
.mdc-fab {
    width: 80px;
    height: 80px;
    position: fixed;
    border-radius: 50%;
    background-color: #304ffe;
}
#fab-container {
    bottom: 120px;
    right: 120px;
    position: fixed;
}
.mdc-drawer {
    height: 100vh;
    position: absolute;
}
