@use '@material/button/mdc-button';
@use '@material/button';



* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
    --mdc-theme-secondary: #304ffe;
}



h1 {
    background-color: #304ffe;
    background: #304ffe;
    padding: 16px;
    color: white;
    box-shadow: 5px 0 #eeeeee;
    font-size: 32px;

}

.mdc-data-table__row {
    min-height: 100px;
}

.mdc-data-table {
    min-height: 98vh;
    position: absolute;
    min-width: 85vw;
    width: 100%;
    max-width: 85vw;
}

.mdc-data-table__header-cell {
    font-weight: bold;
    font-size: 20px;
}

.mdc-data-table__header-cell--checkbox {
    padding-top: 16px;
}

#main-container {
    margin-top: 10px;
    margin-left: 270px;

}

.mdc-data-table__header-cell {
    max-width: 25vw;
    white-space: pre-line;
    font-size: 16px;
}

.mdc-data-table__cell {
    max-width: 25vw;
    white-space: pre-line;
    font-size: 16px;
    min-height: 75px;
}
mdc-data-table__table-container, mdc-data-table__table {
    min-height: 98vh;
}

#tasks-row {
    max-width: 25vw;
    min-width: 25vw;
}

.task {
    border: none;
    background-color: transparent;
    min-width: 25vw;
}   

input, select {
    cursor: pointer;
}

input[type="date"] {
    border: none;
    min-width: 112.1px;
    background-color: transparent;
    border-radius: 10px;
}

input[type="time"] {
    border: none;
    min-width: 112.1px;
    max-width: 112.1px;

    border-radius: 10px;
    background-color: transparent;
}

.mdc-fab {
    width: 80px;
    height: 80px;
    position: fixed;
    border-radius: 50%;
    background-color: #304ffe;
}

#fabContainer {
    bottom: 120px;
    right: 120px;
    position: fixed;
    z-index: 103;
}

#fabContainer2 {
    bottom: 220px;
    right: 120px;
    position: fixed;
    display: none;
    z-index: 102;
}

#fabContainer3 {
    bottom: 320px;
    right: 120px;
    position: fixed;
    display: none;
    z-index: 101;
}

#priority {
    border: none;
    text-align: right;
    padding: 5px 0 5px 0px;
    min-width: 112.1px;
    background-color: transparent;
    border-radius: 10px;
}

#fabBackground {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    color: black;
    background-color: rgba(169, 169, 169, 0.637);
}

.mdc-drawer {
    height: 100vh;
    position: absolute;
}


#deleteButton {
    cursor: pointer;
}

#xBox {
    pointer-events: none;
}

#wrapper {
    cursor: pointer;
}